/* body {
    background-color: var(--bg);
    color: var(--text);
} */
html,
body {
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
}
.text-color {
    color: var(--text);
}
.bg-card {
    background-color: var(--card);
}

.text-heading {
    color: var(--heading);
}

.text-code {
    color: var(--code);
}

.text-success {
    color: var(--success);
}

.text-warning {
    color: var(--warning);
}

.text-error {
    color: var(--error);
}

.text-link {
    color: var(--link);
}
